html {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    background-color: black;
    color: white;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

h3 {
    font-size: 21px;
    color: gray;
    font-weight: normal;
}

p {
    color: aquamarine;
    text-decoration: underline;
    background-color: black;
    font-size: 16px;
}

footer h3 {
    text-align: right;
}