html {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    background-color: black;
    color: white;
}

p {
    color: aquamarine;
    text-decoration: underline;
    background-color: black;
    font-size: 16px;
}